<div class="signiture">
  <div id="avatar">
    <a href="{{ '/' | relative_url }}" class="mx-auto">
      {% if site.avatar != empty and site.avatar %} {% capture avatar_url %} {%
      if site.avatar contains '://' %} {{ site.avatar }} {% elsif site.img_cdn
      != empty and site.img_cdn %} {{ site.avatar | prepend: site.img_cdn }} {%
      else %} {{ site.avatar | relative_url }} {% endif %} {% endcapture %}
      <img
        src="{{ avatar_url | strip }}"
        alt="avatar"
        onerror="this.style.display='none'"
      />
      {% endif %}
    </a>
  </div>

  <div class="site-title">
    <p>{{ site.title }}</p>
  </div>
  <div class="site-subtitle font-italic">{{ site.tagline }}</div>
</div>
