---
---

/*
  If the number of TAB files has changed, the following variable is required.
  And it must be defined before `@import`.
*/
$tab-count: {{ site.tabs | size | plus: 1 }}; // plus 1 for home tab

@import "{{ site.theme }}";

/* append your custom style below */

.signiture {
  display: block;
  margin-top: 3rem;
}

#avatar {
  > a {
    display: block;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    border: 0px solid rgba(222, 222, 222, 0.7);
    overflow: hidden;
  }

  img {
    width: 100%;
    height: 100%;
  }
} /* #avatar */

.site-title {
  margin-top: 1.55rem;
  text-align: center;

  a {
    @extend %clickable-transition;

    font-weight: 900;
    text-transform: uppercase;
    font-size: 3.5rem;
    line-height: 2.2rem;
    letter-spacing: 0.5px;
    color: rgba(134, 133, 133, 0.99);
  }
}

.site-subtitle {
  text-align: center;
  font-size: 1.2rem;
  color: var(--sidebar-muted-color);
  line-height: 1.25rem;
  word-spacing: 1px;
  margin: 0.2rem 1.5rem 0.5rem 1.5rem;
  min-height: 3rem; /* avoid vertical shifting in multi-line words */
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
